<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Length</key>
	<dict>
		<key>ft</key>
		<dict>
			<key>ft</key>
			<string>1</string>
			<key>nmi</key>
			<string>0.0001645788336933</string>
			<key>mi</key>
			<string>0.00018939393939394</string>
			<key>yd</key>
			<string>0.33333333333333</string>
			<key>in</key>
			<string>12</string>
			<key>km</key>
			<string>0.0003048</string>
			<key>m</key>
			<string>0.3048</string>
			<key>cm</key>
			<string>30.48</string>
			<key>mm</key>
			<string>304.8</string>
		</dict>
		<key>in</key>
		<dict>
			<key>in</key>
			<string>1</string>
			<key>nmi</key>
			<string>0.000013714902807775</string>
			<key>mi</key>
			<string>0.000015782828282828</string>
			<key>yd</key>
			<string>0.027777777777778</string>
			<key>ft</key>
			<string>0.083333333333333</string>
			<key>km</key>
			<string>0.0000254</string>
			<key>m</key>
			<string>0.0254</string>
			<key>cm</key>
			<string>2.54</string>
			<key>mm</key>
			<string>25.4</string>
		</dict>
		<key>m</key>
		<dict>
			<key>m</key>
			<string>1</string>
			<key>nmi</key>
			<string>0.00053995680345572</string>
			<key>mi</key>
			<string>0.00062137119223733</string>
			<key>yd</key>
			<string>1.0936132983377</string>
			<key>ft</key>
			<string>3.2808398950131</string>
			<key>in</key>
			<string>39.370078740157</string>
			<key>km</key>
			<string>0.001</string>
			<key>mm</key>
			<string>1000</string>
			<key>cm</key>
			<string>100</string>
		</dict>
		<key>cm</key>
		<dict>
			<key>cm</key>
			<string>1</string>
			<key>nmi</key>
			<string>0.0000053995680345572</string>
			<key>mi</key>
			<string>0.0000062137119223733</string>
			<key>yd</key>
			<string>0.010936132983377</string>
			<key>ft</key>
			<string>0.032808398950131</string>
			<key>mm</key>
			<string>10</string>
			<key>m</key>
			<string>0.01</string>
			<key>km</key>
			<string>0.00001</string>
			<key>in</key>
			<string>0.39370078740157</string>
		</dict>
		<key>mm</key>
		<dict>
			<key>mm</key>
			<string>1</string>
			<key>cm</key>
			<string>0.1</string>
			<key>m</key>
			<string>0.001</string>
			<key>km</key>
			<string>0.000001</string>
			<key>in</key>
			<string>0.039370078740157</string>
			<key>ft</key>
			<string>0.0032808398950131</string>
			<key>yd</key>
			<string>0.0010936132983377</string>
			<key>mi</key>
			<string>0.00000062137119223733</string>
			<key>nmi</key>
			<string>0.00000053995680345572</string>
		</dict>
	</dict>
	<key>Volume</key>
	<dict>
		<key>ml</key>
		<dict>
			<key>ml</key>
			<string>1</string>
			<key>l</key>
			<string>0.001</string>
			<key>m3</key>
			<string>0.000001</string>
			<key>in3</key>
			<string>0.061023744094732</string>
			<key>ft3</key>
			<string>0.000035314666721489</string>
			<key>pt</key>
			<string>0.0021133764188652</string>
			<key>qt</key>
			<string>0.0010566882094326</string>
			<key>gal</key>
			<string>0.00026417205235815</string>
			<key>bbl</key>
			<string>0.0000083864143605761</string>
		</dict>
		<key>l</key>
		<dict>
			<key>ml</key>
			<string>1000</string>
			<key>l</key>
			<string>1</string>
			<key>m3</key>
			<string>0.001</string>
			<key>in3</key>
			<string>61.023744094732</string>
			<key>ft3</key>
			<string>0.035314666721489</string>
			<key>pt3</key>
			<string>2.1133764188652</string>
			<key>qt</key>
			<string>1.0566882094326</string>
			<key>gal</key>
			<string>0.26417205235815</string>
			<key>bbl</key>
			<string>0.0083864143605761</string>
		</dict>
	</dict>
	<key>Density</key>
	<dict/>
	<key>Energy</key>
	<dict/>
	<key>Force</key>
	<dict/>
	<key>Power</key>
	<dict/>
	<key>Pressure</key>
	<dict/>
</dict>
</plist>
